.user-booking {
    background-color: navy !important;
    color: white !important;
    cursor: pointer !important;
    z-index: 3;
    border: none !important;
    font-size: 10px !important;
}

.booked-event {
    background-color: transparent !important;
    border: none !important;
    pointer-events: none !important;
    color: transparent !important;
}

.available-event {
    background-color: green !important;
    cursor: pointer !important;
    border: none !important;
    font-size: 10px !important;
}

.unavailable-event {
    background-color: lightgray !important;
}
