.booked-event {
    background-color: gray !important;
}

.available-event {
    background-color: green !important;
    cursor: pointer !important;
    z-index: 1;
}

.unavailable-event {
    background-color: lightgray !important;
}
