.homeContainer {
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/images/home-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerImage {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}

@media (min-width: 768px) {
    .headerImage {
        max-width: 250px; /* Öka storleken på bilden för större skärmar */
    }
}

.homeImageTxt {
    display: block;
    margin: 0 auto;
    max-width: 60%;
    height: auto;
    margin-bottom: 20px;
}

.mainHeading {
    font-size: 2.5rem;
    font-family: 'Architects Daughter', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin-top: 20px;
}

.subText {
    font-size: 1rem;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #555;
    letter-spacing: 2px;
}

@media (min-width: 768px) {
    .contentContainer {
        max-width: 1200px;
    }
}