.menuContainer {
    margin-top: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #F1EBE5;
    padding: 20px;
    border-radius: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 90%;
}

@media (min-width: 1200px) {
    .menu {
        max-width: 80% !important;
    }
}

.menu .menuButtonTop {
    width: 100%;
    max-width: 400px;
    padding: 15px 0;
    margin: 10px 2px 2px 2px;
    font-size: 16px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    color: #333;
    text-align: center;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 0;
    background-color: #F1EBE5;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu .menuButton {
    width: 100%;
    max-width: 400px;
    padding: 15px 0;
    margin: 2px;
    font-size: 16px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    color: #333;
    text-align: center;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 0;
    background-color: #F1EBE5;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu .menuButton:hover {
    background-color: #333;
    color: #F1EBE5;
}

.menu .instagram {
    font-size: 35px;
    padding: 5px;
}

.menu .instagram:hover {
    color: white;
    background: linear-gradient(to bottom right, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #ab1cbf, #833ab4, #515bd4, #405de6);
    padding: 5px;
    border-radius: 8px;
}

.link {
    text-decoration: none;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}