/* ---- Add / Edit / Delete Booking Modal --- */

.addEditDeleteModal {
    background-color: rgba(103, 187, 107, 0.178) !important;
}

.modalHeader {
    background: linear-gradient(to right, rgba(0, 128, 0, 0.368), rgba(255, 255, 0, 0.386)) !important;
}

.modalTitle {
    font-size: 15px !important;
    font-family: 'Architects Daughter';
    font-weight: 600;
    letter-spacing: 1px !important;
}

.modalBody{
    background-color: rgba(181, 205, 174, 0.888) !important;
    color: rgb(34, 34, 34) !important;
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    padding: 10px !important;
}

.formLabel{
    font-family: 'Poppins';
    color: rgba(45, 45, 45, 0.865);
    font-size: 12px;
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

.formControl {
    font-family: hero-regular !important;
    background-color: rgba(181, 205, 174, 0.888) !important;
    color: rgba(45, 45, 45, 0.865);
    border: 1px solid rgba(69, 114, 69, 0.322) !important;
    font-size: 15px;
}

.fieldValueServices {
    font-family: hero-regular !important;
    color: rgb(133, 71, 0);
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    word-spacing: 5px;
    font-weight: bold;
}

.fieldValues {
    font-family: hero-regular;
    margin: 0;
}

/* --- Price --- */
.lastFormGroup {
    margin-top: 15px;
}

.priceContainer {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.priceFrom {
    margin-right: 5px;
    font-size: 0.7em;
    margin-top: 3px;
    font-family: "hero-regular";
}

/* ------- Modal Footer --------*/
.modalFooter {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
}

/* --- Add / Update / Booking Button --- */
.addUpdateBtn {
    background-color: rgb(63, 104, 0) !important;
    border: none !important;
    font-family: hero-regular !important;
    font-size: 14px;
}

.addUpdateBtn:hover {
    background-color: rgb(57, 95, 0) !important;
    color: rgb(211, 211, 211) !important;
} 

/* --- Delete BookingsButton --- */
.deleteBookingBtn {
    background-color: rgb(160, 42, 42) !important;
    border: none !important;
    font-family: hero-regular !important;
    font-size: 14px;
}

.deleteBookingBtn:hover {
    background-color: rgb(125, 28, 28) !important;
    color: rgb(211, 211, 211) !important;
}

/* --- Cancel Button In Modal --- */
.modalCancelBtn {
    background-color: rgb(66, 66, 66) !important;
    border: none !important;
    font-family: hero-regular !important;
    font-size: 14px;
}

.modalCancelBtn:hover {
    background-color: rgb(50, 50, 50) !important;
    color: rgb(211, 211, 211) !important;
}


.datePicker{
    margin-left: 3px !important;
    font-family: "Poppins";
    font-size: 13px;
    background-color: rgba(181, 205, 174, 0.888) !important;
    color: rgba(45, 45, 45, 0.865);
    border: 1px solid rgba(69, 114, 69, 0.322) !important;
}

/* ---- Add / Edit / Delete Availability Modal ---- */

/* --- Add Availability Modal --- */
.corfirmAddingAvailability {
    font-family: "Poppins" !important;
}

/* --- Delete Availability Modal --- */

.deleteModal {
    background-color: rgba(187, 103, 103, 0.178) !important;
}

.deleteModalHeader {
    background: linear-gradient(to right, rgba(170, 5, 5, 0.868), rgba(236, 89, 26, 0.511)) !important;
}

.deleteModalTitle {
    font-size: 15px !important;
    font-family: 'Architects Daughter';
    font-weight: 600;
    color: white !important;
    letter-spacing: 1px !important;
}

.deleteModalFooter {
    background-color: rgb(226, 177, 177) !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
}

.corfirmDeleteAvailability {
    font-family: "Poppins" !important;
    background-color: rgb(226, 177, 177) !important;
    padding: 20px !important;
}