/* ---- Add / Edit / Delete Booking Modal --- */

.addEditDeleteModal {
    background-color: rgba(103, 187, 107, 0.178) !important;
}

.modalHeader {
    background: linear-gradient(to right, rgba(0, 128, 0, 0.368), rgba(255, 255, 0, 0.386)) !important;
    border: none !important;
}

.modalTitle {
    font-size: 15px !important;
    font-family: 'Architects Daughter';
    font-weight: 600;
    letter-spacing: 1px !important;
}

.modalBody{
    background-color: #bcd3b8 !important;
    color: rgb(0, 0, 0) !important;
    border-bottom-left-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    padding: 10px !important;

}

.formLabel{
    font-family: 'Poppins';
    color: rgb(11, 11, 11);
    font-size: 14px;
    margin-bottom: 2px !important;
    margin-top: 10px !important;
}

.formControl {
    background-color: #bcd3b8 !important;
    color: rgb(0, 0, 0);
    border: none !important;
    font-family: "Hero-Regular" !important;
    margin: 0;
    font-size: 19px !important;
}

.fieldValueServices {
    font-family: hero-regular !important;
    color: rgb(0, 107, 28) !important;
    font-size: 16px !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    word-spacing: 1px !important;
    font-weight: bold;
}

.fieldValues {
    font-family: "Hero-Regular" !important;
    margin: 0;
    font-size: 19px !important;
}

/* --- Price --- */
.lastFormGroup {
    margin-top: 15px;
}

.priceContainer {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.priceFrom {
    margin-right: 5px;
    font-size: 0.7em;
    margin-top: 3px;
    font-family: "hero-regular";
}

/* ------- Modal Footer --------*/
.modalFooter {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    border: none !important;
}

/* --- Add / Update / Booking Button --- */
.addUpdateBtn {
    background-color: rgb(63, 104, 0) !important;
    border: none !important;
    font-family: hero-regular !important;
    font-size: 14px;
}

.addUpdateBtn:hover {
    background-color: rgb(57, 95, 0) !important;
    color: rgb(211, 211, 211) !important;
} 

/* --- Delete BookingsButton --- */
.deleteBookingBtn {
    background-color: rgb(160, 42, 42) !important;
    border: none !important;
    font-family: hero-regular !important;
    font-size: 14px;
}

.deleteBookingBtn:hover {
    background-color: rgb(125, 28, 28) !important;
    color: rgb(211, 211, 211) !important;
}

/* --- Cancel Button In Modal --- */
.modalCancelBtn {
    background-color: rgb(66, 66, 66) !important;
    border: none !important;
    font-family: hero-regular !important;
    font-size: 14px;
}

.modalCancelBtn:hover {
    background-color: rgb(50, 50, 50) !important;
    color: rgb(211, 211, 211) !important;
}

/* --- Choose Date and Time --- */
.datePicker{
    margin-left: 3px !important;
    font-family: "Poppins" !important;
    font-size: 13px;
    background-color: rgba(181, 205, 174, 0.888) !important;
    color: rgba(45, 45, 45, 0.865);
    border: 1px solid rgba(69, 114, 69, 0.322) !important;
    margin-top: 8px !important;
}

.durationValue {
    font-family: hero-regular !important;
    margin-bottom: 0 !important;
}



/* ---------- Add / Edit / Delete Availability Modal ---------- */

/* --- Add Availability Modal --- */
.confirmAddingAvailability {
    font-family: "Poppins" !important;
}


/* --------- Delete Modal --------- */
.deleteModal {
    background-color: rgba(187, 103, 103, 0.178) !important;
}

.deleteModalHeader {
    background: linear-gradient(to right, rgba(170, 5, 5, 0.868), rgba(236, 89, 26, 0.511)) !important;
    border: none !important;
}

.deleteModalTitle {
    font-size: 15px !important;
    font-family: 'Architects Daughter';
    font-weight: 600;
    color: white !important;
    letter-spacing: 1px !important;
}

.deleteModalFooter {
    background-color: rgb(226, 177, 177) !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 10px !important;
    border: none !important;
}

.confirmDeleteModalBody {
    font-family: "Poppins" !important;
    background-color: rgb(226, 177, 177) !important;
    padding: 20px !important;
    border: none !important;
}

/* "(HH:MM:SS)" */
.labelSpan{
    font-size: 11px !important;
    font-family: hero-regular;
}

/* --- Service Name in Delete Service Modal ---*/
.deleteModalServiceName {
    font-family: hero-regular !important;
    color: rgb(133, 71, 0);
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    word-spacing: 5px;
    font-weight: bold;
}

.thin-line {
    color: rgb(5, 40, 0);
    margin: 7px 7px auto;
    width: 90%;
}

/* ------------- Delete Account Modal ------------- */
.deleteAccModalHeader{
    font-family: "Poppins" !important;
    font-size: 16px !important;
    background-color: rgba(0, 0, 0, 0.826) !important;
    border: 1px solid rgba(0, 0, 0, 0.167) !important;
}

.deleteAccountModalTitle {
    font-size: 17px !important;
    font-family: Hero-regular;
    font-weight: 600;
    color: rgb(193, 0, 0) !important;
    letter-spacing: 1px !important;
    border: none !important;
}

.deleteAccModalBody {
    font-family: "Poppins" !important;
    background-color: rgba(0, 0, 0, 0.826) !important;
    padding: 20px !important;
    border: none !important;
    color: rgb(255, 255, 255);
    border-bottom-right-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
}

.warningIcon {
    font-family: "Poppins" !important;
    color: rgba(243, 253, 60, 0.756) !important;
    font-size: 22px !important;
    margin-right: 8px !important;
}

.warningText {
    font-family: "Poppins" !important;
    color: rgb(192, 192, 192) !important;
    font-size: 18px !important;
    margin: 0;
}

.deleteAccModalLabel {
    font-family: Hero-regular !important;
    color: rgb(192, 192, 192) !important;
    font-size: 15px !important;
    margin-bottom: 3px !important;
    margin-top: 15px !important;
}

.deleteAccModalInput {
    background-color: rgba(0, 0, 0, 0.826) !important;
    color: rgb(255, 255, 255) !important;
    border: none !important;
    font-family: "Hero-Regular" !important;
    margin: 0;
    font-size: 18px !important;
    letter-spacing: 5px !important;
}

.deleteAccModalInput:focus {
    border-color: rgba(255, 0, 0, 0.781) !important;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.514) !important;
}

.deleteAccDltBtn {
    background-color: rgb(160, 42, 42) !important;
    border: none !important;
    font-family: hero-regular !important;
    font-size: 16px;
    margin-right: 10px !important;
}

.deleteAccDltBtn:hover {
    background-color: rgb(125, 28, 28) !important;
    color: rgb(211, 211, 211) !important;
}

.deleteAccCnlBtn {
    background-color: rgb(70, 70, 70) !important;
    border: none !important;
    font-family: hero-regular !important;
    font-size: 16px;
}   

.deleteAccCnlBtn:hover {
    background-color: rgb(50, 50, 50) !important;
    color: rgb(211, 211, 211) !important;
}


