.navbarContainer .navbar {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

.navbarContainer .navbar .logo {
  height: 90px;
  margin-right: 10px;
  border: none;
}

.navbarContainer .navbar .logoLink {
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbarContainer .navbar .navLink {
  color: rgb(56, 57, 57);
  font-size: 15px;
  font-family: Hero-Regular;
  margin-right: 5px;
  white-space: nowrap;
  border: 1px solid rgb(229, 230, 229);
  border-radius: 24px;

  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.navbarContainer .navbar .navLink:hover {
  color: #ffffff;
  background-color: #898e82;
}

@media (max-width: 991.98px) {
  .navbarContainer .navbar {
    height: 70px;
    /* Ändrar höjden på navbaren när den förvandlas till hamburgermeny */
  }

  .navbarContainer .navbar .logo {
    height: 65px;
    /* Justera logotypens höjd för att passa i mitten */
    margin-right: 0;
    margin-left: 5%;
  }

  .navbarContainer .navbar .logoLink {
    height: 100%;
    /* Säkerställer att logolänken fortfarande fyller navbarens höjd */
    justify-content: center;
    /* Centrerar logon horisontellt */
  }
}