body, html {
    padding: 0;
    margin: 0;
}


.registerContainer {
    background-color: #bbc0b5;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

.registerHeader {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 12%;
    font-family: Hero-Regular;
    font-size: 38px;
}

.customLabel {
    font-family: Hero-Regular;
    font-size: 18px;
}

.customInput {
    font-family: Hero-Light;
    font-size: 18px;
    margin-top: -5px;
    margin-bottom: 13px;
    background-color: mintcream !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.customButton {
    background-color: #224200 !important;
    margin-bottom: 10%;
    margin-top: 6%;
    border: none !important;
    height: 38px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 15px;
    border-radius: 8px;
    color: #ffffff !important;
    font-family: 'Delius Unicase', sans-serif !important;
    font-size: 18px !important;
    width: 27%;
}


    .customButton:hover {
        background-color: #043500 !important;
        color: #58a100 !important;
    }