/*  ---- Add Service Button ----  */
.add-service-btn {
    background-color: rgb(166 199 172 / 68%) !important;
    border: 1px solid rgba(150, 169, 150, 0.32) !important;
    color: rgb(0, 0, 0) !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: Hero-light !important;
    margin-top: 16px !important;
    margin-bottom: 5px !important;
}

.add-service-btn:hover{
    background-color: rgba(0, 0, 255, 0) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/*  ---- Form Label ----  */
.form-label {
    font-size: 15px;
    margin: 0 auto !important;

}

/*  ---- Form Input ----  */
.form-input {
    background-color: rgba(221, 237, 224, 0.68) !important;
    border: 1px solid #787a7473 !important;
    color: rgb(30, 30, 30) !important;
    font-family: Hero-Regular;
}

.form-input:focus {
    border-color: #91987f8c !important;
    box-shadow: 0 0 5px #539b5c !important;
    outline: none !important;
}

/*  ---- Information Input ----  */
.information-input {
    width: 100% !important;
    margin: 0 auto !important;
}

/* More Button */
.more-fields-btn {
    background-color: transparent !important;
    border: none !important;
    font-size: 20px !important;
    color: rgb(50, 82, 55) !important;
    padding: 0 !important;
    font-family: 'Poppins' !important;
}

.more-fields-btn:hover {
    background-color: transparent !important;
    border: none !important;
    color: black !important;
}


/* --- HH:MM:SS in Label --- */
.label-span {
    font-size: 8px !important;
}

